.addareaBox {
    background-color: #F6F6F6;
    height: 13.3rem;
    header {
        position: relative;
        z-index: 150;
        height: 44px;
        background-color: #fff;
        border-bottom: 1px solid #e5e5e5;
        display: flex;
        justify-content: space-between;
        a {
            font-size: .3rem;
            line-height: 30px;
            position: absolute;
            left: 0;
            top: 7px;
            width: 23px;
            height: 30px;
            text-align: center;
            padding: 0 5px;
            font-weight: 800;
            color: #ff3c3c;
        }
        h1 {
            width: 50%;
            height: 44px;
            line-height: 44px;
            margin: 0 auto;
            font-size: .3rem;
            text-align: center;
            font-weight: normal;
            color: #000;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .rightBox {
            position: absolute;
            right: 1.2rem;
            align-items: center;
            height: 100%;
            a {
                right: 5px;
                display: block;
                width: 50px;
                height: 28px;
                line-height: 28px;
                padding: 0;
                border-radius: 4px;
                border: 1px solid #ddd;
                background-color: #f5f5f5;
                color: #333;
                font-weight: normal;
            }
        }
    }
    .crumbs {
        height: 36px;
        padding: 0 5px;
        line-height: 36px;
        border-top: 1px solid #cccccf;
        border-bottom: 1px solid #cccccf;
        color: #999;
        overflow: hidden;
        background-color: #f7f7f7;
        text-align: left;
        font-size: .3rem;
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f7f7f7),color-stop(100%,#e6e6e6));
        a {
            display: inline-block;
            color: #333;
            text-decoration: none;
            font-size: .3rem;
            span {
                width: 15px;
                height: 36px;
                float: right;
                background: url(../images/noTransparentIconSprite.png) no-repeat;
                background-position: -40px -63px;
                background-size: 51px auto;
            }
        }
    }
    .addarea {
        background-color: #f5f5f5;
        padding: 5px;
        a {
            width: 100%;
            display: block;
            height: 40px;
            line-height: 40px;
            border: 1px solid #e5e5e5;
            margin-bottom: 10px;
            background-color: #fff;
            font-size: .3rem;
            color: #ff3c3c;
            text-align: center;
        }
    }
}