.storeBox {
    background: #F6F6F6;
    header {
        position: relative;
        z-index: 150;
        height: 44px;
        background-color: #fff;
        border-bottom: 1px solid #e5e5e5;
        display: flex;
        justify-content: space-between;
        a {
            font-size: .3rem;
            line-height: 30px;
            position: absolute;
            left: 0;
            top: 7px;
            width: 23px;
            height: 30px;
            text-align: center;
            padding: 0 5px;
            font-weight: 800;
            color: #ff3c3c;
        }
        h1 {
            width: 50%;
            height: 44px;
            line-height: 44px;
            margin: 0 auto;
            font-size: .3rem;
            text-align: center;
            font-weight: normal;
            color: #000;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .warning {
        background: #FEEECA;
        height: 1.8rem;
        padding: 0 .3rem;
        border-bottom: 3px solid #eee;
        .title {
            font-size: .28rem;
            font-weight: 500;
            color: rgb(173,158,121);
            text-align: left;
            padding-top: .3rem;
            margin-bottom: 0;
        }
        .info {
            margin-bottom: 0;
            font-size: .23rem;
            color: rgb(173,158,121);
            text-align: left;
            padding-top: .2rem;
            a {
                font-size: .23rem;
                color: #0083FF;
            }
        }
    }
    .content {
        padding: .5rem .4rem;
        background: #fff;
        h2 {
            font-size: .3rem;
            font-weight: 500;
            width: 100%;
            text-align: center;
            margin-bottom: .3rem;
        }
        .store-info {
            margin-bottom: .4rem;
            .item-info {
                height: 1.3rem;
                border-bottom: 1px solid #eee;
                padding: 0 .2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                span {
                    font-size: .3rem;
                    margin-right: .3rem;
                    text-align: right;
                    width: 1.5rem;
                }
                input {
                    height: 26px;
                    width: 194px;
                    font-size: .25rem;
                    text-indent: 10px;
                }
            }
        }
        .btn{
            width: 100%;
            padding: .3rem .4rem;
            .btn-sub {
                width: 100%;
                height: .8rem;
                background: #ff3c3c;
                color: #fff;
                font-size: .3rem;
                border-radius: .2rem;
                text-align: center;
                line-height: .8rem;
            }
        }
    }
#sadasd{
    position: absolute;
    width: 20px;
    font-size: 16px;
    display: inline-block;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 10px;
    background-color: red;
    color: white;

}
}